/*--------------LAYOUT*/
body {
	margin: 0;
	background-color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
/*------------GLOBAL*/
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}
.col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }


/*-----------TYPOGRAPHY*/

h1, h2, a {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}
h3, h4 {
	font-family: 'Merriweather', serif;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 20px
}
h4 {
	font-size: 17px;
	font-weight: 400;
	color: #848585;
	letter-spacing: 2px;
}
h1 {
	line-height: 65px;
}
h2, h3, h4, p {
	line-height: 28px;
}
p {
	color: #848585;
}
hgroup {
	text-align: center;
}

/*-----------------BUTTONS*/
.btn {
	border-radius: 2px;
	border: 2px solid #777879;
	cursor: auto;
	font-size: 18px;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	line-height: 50px;
	text-decoration: none;
	color: #777879;
	width:225px;
	display: inline-block;
}

/*----------HEADER*/

header {
	text-align: center;
	background-color: #eff0f2;
}
header h1 {
	margin: 0;
	padding: 15px 0;
	text-align: center;
	position: relative;
	text-shadow: 5px 8px 8px #c0c3c9;
}
header h1:nth-child(1) {
	padding-top: 205px;
}
h1 span {
	background-color: #b2f2ee;
	padding: 0 8px;
}
.btn-align {
	padding-top: 150px;
	justify-content: center;
}
.logo {
	border: 5px solid black;
	width: 110px;
	height: 40px;
	margin-top: 70px;
}
.logo h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 7px 10px 10px;
}
header div:last-child {
	justify-content: flex-end;
}
header img {
	margin: -25px 0 60px;
}
/*----------ABOUT (WORKS)*/
.about {
	background-color: #f8fafa
}
.about h2, .works h2 {
	margin: 0;
	padding-top: 120px;
}
.about h4, .works h4 {
	margin: 15px 0 0;
	padding-bottom: 150px;
}
.photo-align {
	width: 390px;
	height: 485px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 165px;
	position: relative;
}
.photo-align img {
	width: 100%;
	height: 100%;
}
.about h3 {
	margin: 0 0 20px;
	letter-spacing: 1px;
}
.about p {
	padding-right: 130px;
	letter-spacing: 1px;
	margin: 20px 0;
}
.about h4:nth-child(4) {
	color: #000000;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 15px 0 0;
}
/*----------WORKS*/
