/*--------------LAYOUT*/
body {
	margin: 0;
	color: #000000;
	background-color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}
.almost-white {
	background-color: #f8fafa
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
/*------------GLOBAL*/
.flex-set {
  justify-content: center;
  align-items: stretch;
  padding-bottom: 165px;
}
.flex-set .col-lg-4 {
    -ms-flex-preferred-size: 32.6108%;
    flex-basis: 32.6108%;
    max-width: 32.6108%;
}
.flex-set .col-lg-7 {
    -ms-flex-preferred-size: 57.6112%;
    flex-basis: 57.6112%;
    max-width: 57.6112%;
 }
.flex-set .col-lg-5 {
  -ms-flex-preferred-size: 42.3888%;
    flex-basis: 42.3888%;
    max-width: 42.3888%;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto
}
li {
	display: inline-block;
}
address {
	font-style: normal;
}
/*--------------- ICONS */
/*--------------------------
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
----------------------*/

/*-----------TYPOGRAPHY*/
h1, h2, h3, h4, a {
	text-transform: uppercase;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	letter-spacing: 2px;
	line-height: 65px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	line-height: 28px;
	letter-spacing: 2px;
	margin: 0;
}
h3 {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 1px;
	margin: 20px 0 0 0
}
h4 {
	font-family: 'Merriweather', serif;
	font-size: 17px;
	font-weight: 400;
	color: #848585;
	line-height: 28px;
	letter-spacing: 2px;
	margin: 15px 0 0;
}
p {
	line-height: 28px;
	color: #848585;
	letter-spacing: 1px;
	margin: 15px 0 30px 0;
}
.box p {
  color: inherit;
}
a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
hgroup {
	text-align: center;
	padding: 120px 0 150px;
}

/*-----------------BUTTONS*/
.btn {
	border-radius: 2px;
	border: 2px solid #777879;
	cursor: auto;
	font-size: 18px;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	line-height: 40px;
	text-decoration: none;
	color: #777879;
	max-width: 225px;
	width: 100%;
	display: inline-block;
	transition: .15s transform linear;
}
.btn:hover {
	transform: scale(1.05, 1.05);
}

/*-----------------INPUT*/
.box-contact input, textarea {
	display: block;
	width: 100%;
	line-height: 45px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background-color: transparent;
	color: #848585;
	border-style: none;
	border-bottom: 1px inset #848585;
	margin-bottom: 20px;
	outline: none;
}
input[type="submit"] {
	border-radius: 3px;
	border: 0;
	margin: 0;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 55px;
	color: #000;
	background-color: #71f5ea; 
	max-width: 245px;
	width: 100%;
	cursor: pointer;
	transition: .15s transform linear;
}
input[type="submit"]:hover {
	transform: scale(1.05, 1.05);
}

/*-----------SLIDER, DOTS, ARROWS*/
.slider {
	position: relative;
	z-index: 1;
	max-width: 390px;
}
.slider::after {
	content: '';
	z-index: -1;
	position: absolute;
	top: 30px;
	left: -43px;
	width: 480px;
	height: 410px;
	background-color: #dee0e2;
}
.slider--text {
	max-width: 670px;
}
.slider--text::after {
	display: none;
}
.slider--text__pagination {
	margin-top: 30px;
 	display: flex;
 	justify-content: flex-end;
 }
 .slider--text__pagination li {
 	margin-left: 30px;
 }
 .slider--text__pagination li a {
 	display: block;
 	background-color: #fff;
 	width: 50px;
 	height: 50px;
 	z-index: -1;
 	border-radius: 3px;
 	box-shadow: 3px 3px 8px #c0c3c9;
 	transition: .2s background-color ease-out;
 }
 .slider--text__pagination li a:hover {
 	background-color: #71f5ea;
 }
 .slider--text__pagination li a img {
 	padding: 18px;
 }
 .slider--text__pagination li a img:hover {
 	opacity: 0.6;
 }
.slider--2nd-after::after {
	width: 450px;
	height: 365px;
	top: 50px;
	left: -30px;
}
.slick-dots {
    bottom: -40px;
}
.slick-dots li {
    width: 12px;
    height: 12px;
    margin: 0 3px;
}
.slick-dots li button {
    width: 12px;
    height: 12px;
    padding: 5px;
    background-color: #dee0e2;
    border-radius: 3px;
}
.slick-dots li button:before {
    content: '';
    width: 12px;
    height: 12px;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    background-color: #71f5ea;
}
.slick-dots li.slick-active button:before {
    background-color: #71f5ea;
    border-radius: 3px;
}
.slick-arrow {
	visibility: hidden;
}
/*------------------------
.slick-prev, .slick-next {
    top: 100%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 3px 3px 8px #c0c3c9;
    border-radius: 3px;
}
.slick-prev {
    left: 1040px;
}
.slick-next {
    right: -777px;
}
[dir='rtl'] .slick-prev, [dir='rtl'] .slick-next {
    right: auto;
    left: auto;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background-color: #b2f2ee;
}
.slick-prev::before {
    content: url("../images/arrow1.png");
}
.slick-next::before {
    content: url("../images/arrow2.png");
}
.slick-prev:before, .slick-next:before {
    opacity: .5;
    color: #000;
}
----------------------*/

/*----------STYLE*/
header {
	text-align: center;
	background-size: auto auto;
	background-image: url("../images/JuiceGlass.png");
	background-repeat: no-repeat;
	background-position: 80% 88%;
	background-color: #eff0f2;
}
header h1 {
	margin: 0;
	padding-bottom: 150px;
	text-align: center;
	text-shadow: 5px 8px 8px #c0c3c9;
}
h1 span {
	background-color: #b2f2ee;
	padding: 0 8px;
}
a span {
	font-size: 26px;
	color: #b2f2ee;
}
header .row {
	justify-content: space-between;
}
header a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	color: #000000;
	border: 5px solid black;
	width: 110px;
	height: 40px;
	margin: 70px 0 200px 15px;
}
.hamburger__icon {
	width: 40px;
	height: 25px;
	margin-top: 80px;
	border: 0;
	border-top: 5px solid #606061;
	position: relative;
	background: transparent;
	cursor: pointer;
	transition: .3s transform linear, 1s border-top ease-out;
	outline: none;
}
.hamburger__icon:focus {
	transform: rotate(90deg);
	border-top: 5px solid #f3e659;
}
.hamburger__icon:before, .hamburger__icon:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-top: 5px solid #606061;
	width: 100%;
	transform: translateY(5px);
}
.hamburger__icon:after {
	transform: translateY(15px);
	transition: 1s border-top ease-out;
}
.hamburger__icon:focus::after {
	border-top: 5px solid #b2f2ee;
}
.hamburger__icon:hover {
	cursor: pointer;
}
.hamburger__site-menu {
	display: none;
}
.adjust.active .hamburger__site-menu {
	display: block;
	margin-top: 20px;
	background-color: #b2f2ee;
	width: 240px;
	text-align: left;
	position: absolute;
	right: 8px;
	border: 1px solid #777879;
	border-radius: 2px;
	box-shadow: 5px 8px 8px #c0c3c9;
	transition: .5s transform ease-out;
}
.adjust.active .hamburger__site-menu ul {
	list-style-type: none;
	padding-left: 40px;
}
.adjust.active .hamburger__site-menu li {
	display: list-item;
	margin: 10px 40px 10px 0;
	border-bottom: 0.5px solid #bbb;
}
.adjust.active .hamburger__site-menu a {
	border: none;
	margin: 0;
	font-weight: 400;
}
.adjust.active .hamburger__site-menu a:hover {
	font-weight: 700;
}


/*----------
.hamburger:focus ~ .site-menu {
	transform: translateX(0);
}
------------------*/
.box {
	position: relative;
  	color: #fff;
	margin-bottom: 14px;
}
.box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.adjust .box::after {
	content: none;
}
.adjust .box {
	content: none;
}
.box__content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 55px 100px 55px 65px;
}
.box__content__more {
  display: none;
}
.link {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.icon {
  position: relative;
  display: inline-block;
}
.icon--arrow {
  width: 21px;
  height: 14px;
  transition: width 0.3s ease
}
.icon--arrow::before, .icon--arrow::after {
  content: '';
  position: absolute;
  top: 50%;
}
.icon--arrow::before {
  left: 0;
  width: 100%;
  margin-top: -1px;
  height: 1px;
  background-color: #fff;
}
.icon--arrow::after {
  right: 1px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin-top: -4px
}
.icon--close {
  width: 15px;
  height: 15px;
}
.icon--close::before, .icon--close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: #000;
  height: 2px;
  margin-top: -1px;
  display: block;
}
.icon--close::before {
  transform: rotate(45deg);
}
.icon--close::after {
  transform: rotate(-45deg);
}
.box .link {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.box .link .icon--arrow {
  margin-left: 10px;
}
.box .link .icon--arrow:hover {
  width: 30px;
}
.box.active {
  color: #000;
}
.box.active::after {
  background-color: #71f5ea;
  opacity: 1;
}
.box.active .box__content__less {
  display: none;
}
.box.active .box__content__more {
  display: inline-block;
}
.adjust .box.active .box__content__less {
	display: inline-block;
}
.adjust .box.active::after, .adjust .box.active::before {
  content: '';
  display: block;
  max-width: 335px;
  height: 240px;
  position: absolute;
  top: 185px;
  left: 18px;
  background-color: #71f5ea;
  box-shadow: 5px 8px 12px #c0c3c9;
  transition: all 1s ease;
}
.adjust .box.active::before {
	width: 0;
  	height: 0;
  	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-bottom: 36px solid #71f5ea;
  	top: 166px;
  	left: 29px;
  	background-color: transparent;
  	z-index: 15;
  	box-shadow: none;
}
.adjust .box .icon--close {
	position: absolute;
	top: -250px;
	left: 330px;
	z-index: 10;
}
.adjust .box__content__more {
	position: absolute;
}
.box__content__more--text {
	position: absolute;
	bottom: 75px;
	z-index: 5;
	padding: 0 40px;
}
.box__content__more--text ul {
	display: flex;
	align-items: center;
	padding: 0;
	margin-bottom: -40px;
}
.box__content__more--text ul li {
	max-width: 15px;
	padding: 8px;
}
.box__content__more--text ul li img{
	filter: brightness(0); 
}
.box__content__more--text ul li img:hover{
	filter: brightness(0.7); 
	transform: scale(1.2, 1.2);
}
.text-box {
	background-color: #dee0e2;
	text-align: center;
	padding: 60px 75px 67px;
	margin-top: 49px;
}
.almost-white .text-box h3 {
	font-family: 'Merriweather', serif;
	padding-bottom: 20px;
}
.logo {
	margin: 150px 0 -50px;
	width: 100%;
}
.logo ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
}
.logo ul:nth-child(1) {
	margin: 0 310px;
	padding-bottom: 15px;
}
.logo ul li {
	padding: 15px 10px 0;
}
section:nth-child(7) {
	background-image: url("../images/Bg copy 41.png");
	background-size: cover;
	background-color: transparent;
}
::-webkit-input-placeholder { /* Chrome */
  color: #848585;
}
.box-contact {
	background-color: rgba(0,0,0,.7);
	padding: 50px 100px 35px 35px;
	margin-top: 120px;
}
.box-contact textarea {
	height: 178px;
	margin-bottom: 34px;
	resize: none;
	line-height: 20px;
}
.box-contact p {
	margin: 0;
}
p:nth-child(5) {
	margin-top: 35px;
}
iframe {
	margin-top: 20px;
	width: 118%;
	height: 250px;
	background-color: #fff;
}
footer {
	background-color: #000;
	padding: 90px 0;
}
footer .flex-set {
	padding-bottom: 0;
}
footer p {
	margin: 0;
	text-transform: uppercase;
}
footer ul {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 5px 0 40px;
}
footer li {
	margin: 5px;
}
footer li a {
	display: block;
	border-radius: 2px;
	width: 45px;
	height: 45px ;
	background-color: #424648; 
}
footer li a:hover {
	background-color: #71f5ea;
}
footer li img {
	filter: brightness(0.7); 
	padding: 12px 13px;
}
footer li img:hover {
	filter: brightness(0); 
}



