/*--------------LAYOUT*/
body {
	margin: 0;
	color: #000000;
	background-color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}
.almost-white {
	background-color: #f8fafa
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
/*------------GLOBAL*/
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto
}

/*-----------TYPOGRAPHY*/

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	letter-spacing: 2px;
	line-height: 65px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	line-height: 28px;
	letter-spacing: 2px;
	margin: 0;
}
h3 {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 1px;
	margin: 20px 0 0 0
}
h4 {
	font-family: 'Merriweather', serif;
	font-size: 17px;
	font-weight: 400;
	color: #848585;
	line-height: 28px;
	letter-spacing: 2px;
	margin: 15px 0 0;
}
p {
	line-height: 28px;
	color: #848585;
	letter-spacing: 1px;
	margin: 15px 0 30px 0;
}
.box p {
  color: inherit;
}
a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
hgroup {
	text-align: center;
	padding: 120px 0 150px;
}

/*-----------------BUTTONS*/
.btn {
	border-radius: 2px;
	border: 2px solid #777879;
	cursor: auto;
	font-size: 18px;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	line-height: 40px;
	text-decoration: none;
	color: #777879;
	width:225px;
	display: inline-block;
}

/*-----------------INPUT*/
.box-contact input, textarea {
	display: block;
	width: 100%;
	line-height: 45px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background-color: transparent;
	color: #848585;
	border-style: none;
	border-bottom: 1px inset #848585;
	margin-bottom: 20px;
	outline: none;
}
input[type="submit"] {
	border-radius: 3px;
	border: 0;
	margin: 0;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 55px;
	color: #000;
	background-color: #71f5ea; 
	width:245px;
	cursor: pointer;
}

/*----------STYLE*/
header {
	text-align: center;
	background-size: auto auto;
	background-image: url("F:/!piotr/zadanie 3/SOP/images/JuiceGlass.png");
	background-repeat: no-repeat;
	background-position: 80% 88%;
	background-color: #eff0f2;
}
header h1 {
	margin: 0;
	padding-bottom: 150px;
	text-align: center;
	text-shadow: 5px 8px 8px #c0c3c9;
}
h1 span {
	background-color: #b2f2ee;
	padding: 0 8px;
}
header .row {
	justify-content: space-between;
}
header a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	color: #000000;
	border: 5px solid black;
	width: 110px;
	height: 40px;
	margin: 70px 0 200px 15px;
}
.hamburger {
	width: 40px;
	height: 25px;
	margin-top: 80px;
	border: 0;
	border-top: 5px solid #606061;
	position: relative;
	background: transparent;
	cursor: pointer;
	transition: .3s transform linear, 1s border-top ease-out;
	outline: none;
}
.hamburger:focus {
	transform: rotate(90deg);
	border-top: 5px solid #f3e659;
}
.hamburger:before, .hamburger:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-top: 5px solid #606061;
	width: 100%;
	transform: translateY(5px);
}
.hamburger:after {
	transform: translateY(15px);
	transition: 1s border-top ease-out;
}
.hamburger:focus::after {
	border-top: 5px solid #b2f2ee;
}
.site-menu {
	margin-top: 20px;
	background-color: #b2f2ee;
	width: 240px;
	text-align: left;
	position: absolute;
	right: 8px;
	border: 1px solid #777879;
	border-radius: 2px;
	box-shadow: 5px 8px 8px #c0c3c9;
	transform: translateX(105%);
	transition: .5s transform ease-out;
}
.site-menu ul {
	list-style-type: none;
	padding-left: 40px;
}
.site-menu li {
	margin: 10px 40px 10px 0;
	border-bottom: 0.5px solid #bbb;
}
.site-menu a {
	border: none;
	margin: 0;
	font-weight: 400;
}
.site-menu a:hover {
	font-weight: 700;
}
.hamburger:focus ~ .site-menu {
	transform: translateX(0);
}
.slider {
	position: relative;
	z-index: 1;
	width: 420px;
	height: 515px;
}
.slider::after {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50px;
	left: -29px;
	width: 480px;
	height: 410px;
	background-color: #eff0f2;
}
.pagination {
	text-align: center;
}
.pagination li {
	display: inline-block;
	text-align: center;
}
.pagination li a {
	text-align: center;
	background-color: #000;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	display: block;
}
.flex-set {
  justify-content: center;
  align-items: stretch;
  padding-bottom: 165px;
}
.flex-set .col-lg-4 {
    -ms-flex-preferred-size: 32.6108%;
    flex-basis: 32.6108%;
    max-width: 32.6108%;
}
.flex-set .col-lg-7 {
    -ms-flex-preferred-size: 57.6112%;
    flex-basis: 57.6112%;
    max-width: 57.6112%;
 }
.flex-set .col-lg-5 {
  -ms-flex-preferred-size: 42.3888%;
    flex-basis: 42.3888%;
    max-width: 42.3888%;
}
.box {
	position: relative;
  	color: #fff;
	margin-bottom: 14px;
}
.box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  transition: all 0.3s ease;
}
.col-lg-4 .box::after {
	content: none;
}
.box-content {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 55px 100px 55px 65px;
}
.box__content__more {
  display: none;
}
.link {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.icon {
  position: relative;
  display: inline-block;
}
.icon--arrow {
  width: 21px;
  height: 14px;
  transition: width 0.3s ease
}
.icon--arrow::before, .icon--arrow::after {
  content: '';
  position: absolute;
  top: 50%;
}
.icon--arrow::before {
  left: 0;
  width: 100%;
  margin-top: -1px;
  height: 1px;
  background-color: #fff;
}
.icon--arrow::after {
  right: 1px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin-top: -4px
}
.icon--close {
  width: 15px;
  height: 15px;
}
.icon--close::before, .icon--close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: #000;
  height: 2px;
  margin-top: -1px;
  display: block;
}
.icon--close::before {
  transform: rotate(45deg);
}
.icon--close::after {
  transform: rotate(-45deg);
}
.box .link {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.box .link .icon--arrow {
  margin-left: 10px;
}
.box .link .icon--arrow:hover {
  width: 30px;
}
.box.active {
  color: #000;
}
.box.active::after {
  background-color: #71f5ea;
  opacity: 1;
}
.box.active .box__content {
/*   bottom: auto;
  top: 0; */
}
.box.active .box__content__less {
  display: none;
}
.box.active .box__content__more {
  display: inline-block;
}
.text-box {
	background-color: #eff0f2;
	text-align: center;
	padding: 60px 75px 80px;
	margin-top: 35px;
	background-image: url("F:/!piotr/zadanie 3/SOP/images/stars.png");
	background-repeat: no-repeat;
	background-position: 50% 80%;
}
.almost-white .text-box h3 {
	font-family: 'Merriweather', serif;
	padding-bottom: 20px;
}
.almost-white .slider {
	width: 360px;
	height: 455px;
}
.almost-white .slider::after {
	width: 390px;
	height: 365px;
	top: 38px;
	left: -15px;
}
.progress {
	text-align: center;
	margin-top: 20px;
}
.logo {
	margin-top: 200px;
}
section:nth-child(7) {
	background-image: url("F:/!piotr/zadanie 3/SOP/images/Bg copy 41.png");
	background-size: cover;
	background-color: transparent;
}
::-webkit-input-placeholder { /* Chrome */
  color: #848585;
}
.box-contact textarea {
	height: 178px;
	margin-bottom: 34px;
	resize: none;
	line-height: 20px;
}
.box-contact {
	background-color: rgba(0,0,0,.7);
	padding: 50px 100px 35px 35px;
	margin-top: 120px;
}
.box-contact p {
	margin: 0;
}
p:nth-child(5) {
	margin-top: 35px;
}
iframe {
	margin-top: 20px;
	width: 118%;
	height: 250px;
	background-color: #fff;
}
footer {
	background-color: #000;
	padding: 90px 0;
}
footer .flex-set {
	padding-bottom: 0;
}
footer p {
	margin: 0;
}
footer ul {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 5px 0 40px;
}
footer li {
	display: inline-block;
	height: auto;
	width: 25px;
	padding: 10px;
	background-color: #424648; 
	margin: 5px;
}
footer li:hover {
	background-color: #71f5ea;
	cursor: pointer;
}
footer li img {
	filter: brightness(0.7); 
}
footer li img:hover {
	filter: brightness(0); 
}


